{{!-- The area to add the articles --}}

{{#each articles}}
<div class="story-body" id={{this._id}}>
<h1>
<a href="{{this.link}}" target="_blank">{{this.title}}</a>
<form action="/save/{{this._id}}" method="POST">
<button type="submit" class="waves-effect waves-light btn" id="status" value="{{this.status}}">{{this.status}}</button>
{{#unless this.note}}
<button type="button" class="waves-effect waves-light btn"id="addnote-button" value="{{this._id}}"><i class="material-icons">add</i>Add A Note</button>
{{/unless}}
{{#if this.note}}
<button type="button" class="waves-effect waves-light btn" id="addnote-button" value="{{this._id}}"><i class="material-icons">create</i>Edit Note</button>
{{/if}}
</form>
</h1>
</div>
{{/each}}

  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="/">1</a></li>
    <li class="waves-effect"><a href="/2">2</a></li>
    <li class="waves-effect"><a href="/3">3</a></li>
    <li class="waves-effect"><a href="/4">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>